In [20]:
#!pip install pgeocode
import pandas as pd
import pgeocode

In [21]:
 nomi=pgeocode.Nominatim('US')

In [54]:
df=pd.read_excel('FFLs.xlsm', converters={'Zip': lambda x: str(x)[:5]})
df.head(2)

,FFL,CompanyName,DBA,StreetAddress,City,State,Zip,Ph,Lattitude,Longitude
0,1-66-003-01-3L-00332,AGUADA ARMORY SHOOTING AND RENTAL CORP,NaN,4 CALLE COLON SUITE 3,AGUADA,PR,00602,7.878687e+09,NaN,NaN
1,1-66-003-01-4F-00258,"HERNANDEZ-MUNOZ, GILBERTO",ARMERIA Y ACCESORIOS EL NARANJAL,CARR 411 KM 1.0 BO GUAYABO SECTOR BAJURA,AGUADA,PR,00602,7.878680e+09,NaN,NaN

In [60]:
def lat_maker(x):
    return nomi.query_postal_code(x)[9]

    
def long_maker(x):
    return nomi.query_postal_code(x)[10] 


def location_maker(path='FFLs.xlsm',column='Zip'):
   
    df=pd.read_excel(path, converters={'Zip': lambda x: str(x)[:5]})
    df['Lattitude']=df[column].apply(lat_maker)
    df['Longitude']=df[column].apply(long_maker)
    df.to_csv("output.csv",index=False)
    return df

In [61]:
df=location_maker()

In [62]:
df.tail(2)

,FFL,CompanyName,DBA,StreetAddress,City,State,Zip,Ph,Lattitude,Longitude
59703,9-91-063-09-4F-06305,"BRENTS GUN SHOP, INC",NaN,N 7302 MARKET #3,SPOKANE,WA,99217,5.094667e+09,47.738,-117.2557
59704,9-91-063-09-3K-37215,"HAMILTON, PAUL L JR",PAULS COLD STEEL,4707 E UPRIVER DR H-102,SPOKANE,WA,99217,5.099997e+09,47.738,-117.2557

In [63]:
# showing null valu, the pgeocode couldn't find these zipcodes
df[df['Lattitude'].isna()|df['Longitude'].isna()]

,FFL,CompanyName,DBA,StreetAddress,City,State,Zip,Ph,Lattitude,Longitude
0,1-66-003-01-3L-00332,AGUADA ARMORY SHOOTING AND RENTAL CORP,NaN,4 CALLE COLON SUITE 3,AGUADA,PR,00602,7.878687e+09,NaN,NaN
1,1-66-003-01-4F-00258,"HERNANDEZ-MUNOZ, GILBERTO",ARMERIA Y ACCESORIOS EL NARANJAL,CARR 411 KM 1.0 BO GUAYABO SECTOR BAJURA,AGUADA,PR,00602,7.878680e+09,NaN,NaN
2,1-66-005-01-2M-00224,"CARDONA-VALENTIN, VIRGINIA",SHOOTING ACCESSORIES & SERVICE,BO PALMAR CARR 111 KM 1.8,AGUADILLA,PR,00603,7.876587e+09,NaN,NaN
3,1-66-013-01-2L-00368,"GUTIERREZ, ORLANDO D",ARMERIA GUTIERREZ,165 CALLE BETANCES,ARECIBO,PR,00612,7.878783e+09,NaN,NaN
4,1-66-023-01-5E-00095,"ORTIZ-RODRIGUEZ, PABLO MANUEL",WEST SHOOTING SUPPLIES,#33 JOSE DE DIEGO ST LOCAL 1-C,CABO ROJO,PR,00623,7.878513e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2866,1-06-001-01-2H-04470,HANSEN & COMPANY,H C O,244-246 OLD POST RD,SOUTHPORT,CT,06490,2.032595e+09,NaN,NaN
5000,1-16-037-01-1G-02846,"KINNE, JEANNE M & PELTON, PATRICIA",ART KINNES SPORT SHOP,6689 ALLEGHANY RD,ALABAMA,NY,14003,5.858133e+09,NaN,NaN
43665,5-46-103-01-3G-06066,"SCHIEFER, JERRY RUDY",JERRY'S GUNS AND TRAPPING SUPPLIES,22724 SCHIEFER PLACE,ROCHFORD,SD,57778,6.055743e+09,NaN,NaN
43833,5-45-099-01-3D-00182,"POPOWSKI, SALVIN JR",NaN,6170 COUNTY ROAD 2,ARDOCH,ND,58213,7.016995e+09,NaN,NaN
46391,5-37-071-01-4F-05881,JONES LOCK STOCK & BARREL LLC,NaN,1917 TOWNSHIP RD 2100E,MONMOUTH,IL,61642,3.093417e+09,NaN,NaN

In [64]:
# Pgeocode couldn't find  89 zipcodes